<h2 class="text-2xl font-bold">Busquedas</h2>
<hr class="my-3">
<ul class="grid gap-4 grid-cols-1 text-center">
    <li routerLink="" routerLinkActive="focus:bg-blue-300" 
        class=" cursor-pointer rounded ring-offset-2 ring-2">
        Buscar País
    </li>
    <li routerLink="/region" routerLinkActive="focus:bg-blue-300" 
        class="cursor-pointer rounded ring-offset-2 ring-2">
        Buscar Región
    </li>  
    <li routerLink="/capital" routerLinkActive="focus:bg-blue-300" 
        class="cursor-pointer rounded ring-offset-2 ring-2">
        Buscar Capital
    </li>
</ul>