<h2 class="text-2xl font-bold">Por Región</h2>
<hr class="my-3">

<div>
    <form (ngSubmit)="buscarRegion()">
        <input autocomplete="off" type="text" placeholder="Pais a buscar" name="pais" id=""
        [(ngModel)]="busqueda"
        class="
            form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 
            focus:bg-white 
            focus:border-blue-600 
            focus:outline-none
            focus:shadow-lg
            focus:ring-offset-2
            focus:ring
            focus:border-0
        "
      >
    </form>
</div>

<div *ngIf="ErrorBusqueda()" class="bg-red-500 border rounded-md p-2 my-2">
    <span class="text-black">No se encontró ninguna región con el nombre de <span class="text-xl font-bold underline"> {{this.busqueda}} </span></span>
</div>

<div class="my-2" *ngIf="this.entriesRegions !== null" >
    <div class="grid grid-cols-5 text-center">
        <h3 class="text-xl font-semibold"> # </h3>
        <h3 class="text-xl font-semibold"> Bandera </h3>
        <h3 class="text-xl font-semibold"> Nombre </h3>
        <h3 class="text-xl font-semibold"> Población </h3>
        <h3 class="text-xl font-semibold">  </h3>
    </div>
    <div class="grid grid-cols-5 text-center my-5 items-center align-middle" 
        [ngClass]="{'bg-blue-200 rounded' : (i+1)%2 === 0}" 
        *ngFor="let country of entriesRegions; index as i"
    >
        <div >
            <p>{{i+1}}</p>
        </div>

        <div>
            <img class="mx-auto" [src]="country.flags.png" [alt]="country.flags.alt" [width]="100" [height]="100">
        </div>

        <div>
            {{country.translations.spa.common}}
        </div>

        <div>
            {{country.population}}
        </div>

        <div>
            <span class="underline text-blue-400"> WIP | Ver más...</span>
        </div>
    </div>
</div>